.create-room {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 30px;
    padding-left: 500px;
}

 .create-button {
    width: 75px;
    height: 30px;
    border-radius: 10px;
}

 .create-room-text-box {
 width: calc(200px + 5vmin);
 height: 25px;
 background-color:transparent;
  color: #808080;
  font-size: 20px;
  border-radius: 8px;

} 
.plus-icon {
    padding-right: 10px;
    width: 30px;
    height: 30px;
}