.rooms-title {

}

.rooms-container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow-y: scroll;
}