.title {
    position: absolute;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: calc(10px + 10vmin);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid white;
    border-radius: 100px;
    padding-bottom: 0px !important;
}