.user-container {
    text-align: center;
}
.textBox {
    background-color:transparent;
    color: #808080;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .button {
    height: 30px;
    width: 100px;
    border-radius: 25px;
    font-size: 20px;
  }
  